# ingnoring virtualenv folder
/venv
test.pyc
.DS_Store
.vscode
__pycache__
output_del_json.txt

# don't include the content of the following folders
books_to_push/*
books_pushed/*
exes/*

# ingnoring node packages
node_modules


# keep folders
!books_to_push/.gitkeep
!books_pushed/.gitkeep
!exes/.gitkeep

